
h3{
    font-size: 30px;
    /* text-decoration: overline; */
}

.vlog{
    margin: 40px;
    color: rgb(6, 107, 46);
    border: 5px solid green ;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 10px 10px 10px;
}
.header{
    border: 3px solid rgb(13, 98, 24);
    width: 30%;
}