
h3{
    font-size: 30px;
    /* text-decoration: overline; */
}

.new{
    height:300px;
    color: blueviolet;
    background-image: url('07.jpg');
    /* background-repeat: no-repeat; */
    /* background-repeat: repeat-x; */
    /* background-size: cover ; */
    /* background-size: contain; */
    background-size: 200px;
    background-color: azure;
    margin: 20px;
    padding: 20px;
}

.vlog{
    margin: 20px;
    border: 5px solid green ;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 10px 10px 10px rgb(41, 88, 10);
}
.header{
    border: 3px solid rgb(13, 98, 24);
    width: 30%;
}